@mixin small-button-size() {
    .new-toolbox {
        .toolbox-content {
            .button-group-center, .button-group-left, .button-group-right {
                .toolbox-button {
                    .toolbox-icon {
                        width: 40px;
                        height: 40px;
                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    &:nth-child(2) {
                        .toolbox-icon {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}

@mixin very-small-button-size() {
    .new-toolbox {
        .toolbox-content {
            .button-group-center, .button-group-left, .button-group-right {
                .settings-button-small-icon {
                    display: none;
                }
                .toolbox-button {
                    .toolbox-icon {
                        width: 18px;
                        height: 18px;
                        svg {
                            width: 12px;
                            height: 12px;
                        }
                    }

                    &:nth-child(2) {
                        .toolbox-icon {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $verySmallScreen) {
    .welcome {
        display: block;

        #enter_room {
            position: relative;
            height: 42px;

            .welcome-page-button {
                font-size: 12px;
            }
        }

        .header {

            #enter_room {
                .enter-room-input-container {
                    padding-right: 0;
                }

                .warning-without-link,
                .warning-with-link {
                    top: 120px;
                }
            }
        }
    }
}
@media only screen and (max-width: $verySmallScreen) {
    #videoResolutionLabel {
        display: none;
    }
    .desktop-browser {
        .vertical-filmstrip .filmstrip {
            display: none;
        }
    }
    .new-toolbox {
        .toolbox-content {
            .button-group-center, .button-group-left, .button-group-right {
                .settings-button-small-icon {
                    display: none;
                }
                .toolbox-button {
                    .toolbox-icon {
                        width: 40px;
                        height: 40px;
                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }
                    &:nth-child(2) {
                        .toolbox-icon {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
    .chrome-extension-banner {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .welcome {
        display: block;
        .header {
            height: 60%;
            #enter_room {
                margin-bottom: 20px
            }
            .tab-container {
                width: 90%;
                min-height: 150px;
            }
        }
        .welcome-illust {
            width: 100%;
            height: 40%;
            .illust-image {
                background-image: url("../images/dvision-main-illust-768.png");
            }
        }
        .meetingRoomArea {
            width: 100%;
            .welcome-page-button {
                font-size: 12px;
            }
        }
    }
}

.desktop-browser {
    @media only screen and (max-width: $smallScreen) {
        @include small-button-size();
    }

    @media only screen and (max-width: $verySmallScreen) {
        @include very-small-button-size();
    }

    &.shift-right {
        @media only screen and (max-width: $smallScreen + $sidebarWidth) {
            @include small-button-size()
        }

        @media only screen and (max-width: $verySmallScreen + $sidebarWidth) {
            @include very-small-button-size();

            #videoResolutionLabel {
                display: none;
            }
            .vertical-filmstrip .filmstrip {
                display: none;
            }
            .chrome-extension-banner {
                display: none;
            }
        }
    }
}
