@media only screen and (max-width: $verySmallScreen) {
    .welcome {
        display: block;

        #enter_room {
            position: relative;
            height: 42px;

            .welcome-page-button {
                font-size: 12px;
            }
        }

        .header {

            #enter_room {
                .enter-room-input-container {
                    padding-right: 0;
                }

                .warning-without-link,
                .warning-with-link {
                    top: 120px;
                }
            }
        }
    }
}
@media only screen and (max-width: $verySmallScreen) {
    #videoResolutionLabel {
        display: none;
    }
    .desktop-browser {
        .vertical-filmstrip .filmstrip {
            display: none;
        }
    }
    .new-toolbox {
        .toolbox-content {
            .button-group-center, .button-group-left, .button-group-right {
                .settings-button-small-icon {
                    display: none;
                }
                .toolbox-button {
                    .toolbox-icon {
                        width: 40px;
                        height: 40px;
                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }
                    &:nth-child(2) {
                        .toolbox-icon {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
    .chrome-extension-banner {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .welcome {
        display: block;
        .header {
            height: 60%;
            #enter_room {
                margin-bottom: 20px
            }
            .tab-container {
                width: 90%;
                min-height: 150px;
            }
        }
        .welcome-illust {
            width: 100%;
            height: 40%;
            .illust-image {
                background-image: url("../images/dvision-main-illust-768.png");
            }
        }
        .meetingRoomArea {
            width: 100%;
            .welcome-page-button {
                font-size: 12px;
            }
        }
    }
}

.desktop-browser {
    &.shift-right {

        @media only screen and (max-width: $verySmallScreen + $sidebarWidth) {

            #videoResolutionLabel {
                display: none;
            }
            .vertical-filmstrip .filmstrip {
                display: none;
            }
            .chrome-extension-banner {
                display: none;
            }
        }
    }
}
